.sectionIII_main-container {
    /* margin: 0 auto; */
    padding: 2rem;
    margin-top: 2rem;
    margin-top: 10rem;
    width:1300px;
    /* border: 3px solid rgb(128,104,104); */

/* >>>>>>> 784d76816d095aeeb6622292b75c538e06b2353c 
}

.sectionIII-container {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0 auto;
/* <<<<<<< HEAD */
    margin-top: 3rem;
    width: 50%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
/* ======= */
    /* width: 1199px; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: -218px;
    background-color: white;
    margin-left: -20px;
/* >>>>>>> 784d76816d095aeeb6622292b75c538e06b2353c */
}

.sectionIII-container > h1 {
    /* padding: 1rem; */
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 2.5rem;
    font-weight: 700;
}

.fund-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    text-align: center;
    font-size: larger;
    font-weight: 600;
}

#goal-tag {
    margin-top: -25px;
    width: 100%;
    font-size: 35px;
}

.fund-container > p {
    font-size: larger;
}

.fund_video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.submit-btn {
    width: 10rem;
    margin: 0 auto;
    color: white;
    background-color: black;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.3s;
}

.submit-btn:hover {
    /* transform: translateY(-10px); */
    background-color: rgba(0, 0, 0, 0.82);
}

#fund-video {
    border-radius: 10px;
    height: 27rem;
    width: 58rem;
    /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.632); */
}

.fund_video-container {
    font-weight: 600;
}

.fund_video-container > h1 {
    font-weight: 700;
    text-align: center;
    margin-bottom: -15px;
}

.fund_video-container > p {
    font-size: 20px;
    text-align: center;
}

/* .divider{
    border: 1px solid grey;
} */

/* Ipad Pro */
@media screen and (max-width: 1024px) {

}
/* Ipad Mini */
@media screen and (max-width: 768px) {

}

/* Phone */
@media screen and (max-width: 550px) {
    .sectionIII-container > h1 {
        width: 100%;
    }

    #goal-tag {
        width: 100%;
    }

    .fund_video-container {
        width: 100%;
        height: 100%;
    }
    
    #fund-video {
        width: 100%;
        height: 15rem;
    }

    .fund_video-container > p {
        text-align: center;
        font-size: 25px;
    }
}

/* An Even Smaller Phone */
@media screen and (max-width: 360px) {

}