.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(44, 45, 59);
    /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensure it's on top */
}

.loader {
    border: 4px solid #f3f3f3;
    /* Customize the color */
    border-radius: 50%;
    border-top-color: #3498db;
    /* Customize the color */
    width: 160px;
    height: 160px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}