.sectionV_main-container {
    width: 100%;

}

.section-container {
    display: flex;
    flex-direction: column;
}

.bld-container {
    text-align: center;
    margin-bottom: 2rem;
}

.bld-container > h1 {
    border-bottom: 1px solid black;
    padding: 1rem;
    text-align: center;
    text-shadow: 0 0 10px gray;
    margin: 0 auto;
    text-transform: uppercase;
    width: 75%;
}

.bld-info-container > p {
    font-size: 25px;
    font-weight: 600;
    color: rgb(128,104,104);
    text-shadow: 0 0 5px lightgray;
    width: 75%;
    margin: 0 auto;
}

.bld-list{
    font-size: 25px;
    font-weight: 600;
    color: rgb(128,104,104);
    text-shadow: 0 0 5px lightgray;
    width: 12%;
    margin: 0 auto;
}

.building_images {
    padding: 2rem;
    width: 50%;
    display: flex;
    margin: 0 auto;
    background: rgba(46, 38, 38, 0.098);
    border-radius: 5px;
}

.slider_image-container{
    width: 80%;
    background-size:cover;
}

.slider_image-container > img {
    image-orientation:flip;
    height: 35rem;
    width: 100%;
    background: #000;
    /* background-size:cover; */
}

.slick-slider {
    width: 100%;

}

/* Ipad Pro */
@media screen and (max-width: 1024px) {

}
/* Ipad Mini */
@media screen and (max-width: 768px) {

}

/* Phone */
@media screen and (max-width: 550px) {
    .sectionV_main-container {
        margin-top: -15rem;
        padding: 3rem;
    }
    
    .bld-container {
        width: 100%;
    }

    .bld-container > h1 {
        width: 100%;
    }

    .bld-info-container > p {
        width: 100%;
        font-size: 20px;
    }

    .bld-list {
        width: 100%;
        font-size: 20px;
    }

    .building_images {
        width: 100%;
    }

    .slider_image-container {
        width: 100%;
    }

    .slider_image-container > img {
        height: 25rem;
    }
}

/* An Even Smaller Phone */
@media screen and (max-width: 360px) {

}