
.sub-section_testimony-live {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: white;
    margin: 0 auto;
    border: 0.2px solid lightgray;
    border-radius: 10px;
    margin-top: 3rem;
    padding: 2rem;
    /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.632); */
    height: 30rem;
    width: 75rem;
    background-image: url(../z_images/bg-img-2.jpg);
    background-repeat: no-repeat;
    background-position: right;
    transform: translateY(100px);

    opacity: 0;
}

.animate {
    opacity: 1;
    transition: 0.9s ease-out;
    transform: translate(0px);
}


.testimony-live>p {
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0 0 5px lightgray;
}

.live-pic-container {
    width: 20rem;
    overflow: hidden;
    border-radius: 10px;
}

#live-fam-pic {
    height: 25rem;
    width: 20rem;
    transition: transform .5s ease;
    border-radius: 10px;
}

#live-fam-pic:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.98);
    transform: scale(1.2);
}


/* Phone */
@media screen and (max-width: 550px) {
    .sectionII_main-container {
        padding: 10px;
    }

    .sectionII_title {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
    }

    .main_photo_mission-container {
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 25rem;
    }

    .photo_mission-container {
        width: 100%;
        height: 100%;
    }

    .photo_mission-container>img {
        height: 100%;
        width: 100%;
    }

    /* Know Part */

    .sub-section_testimony-know {
        flex-direction: column;
        height: 100%;
        width: 100%
    }

    .know-pic-container {
        width: 100%;
    }

    #know-word-pic {
        height: 15rem;
        width: 100%;
    }

    #know-word-pic:hover {
        transform: scale(1.1);
    }

    .testimony-know {
        margin-top: 5em;
        padding: 0;
    }

    /* Live Part */

    .sub-section_testimony-live {
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-position: top;
    }

    .live-pic-container {
        width: 80%;
        height: 80%;
        margin-left: 2rem;
    }

    #live-fam-pic {
        height: 100%;
        width: 100%;
        /* margin-left: 2rem; */
    }

    /* Love */

    .sub-section_testimony-love {
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-position: top;
    }

    .love-pic-container {
        width: 100%;
    }

    #love-yal-pic {
        height: 15rem;
    }

    .testimony-love {
        margin-top: 3em;
        padding: 0;
    }

    .quote-container {
        width: 100%;
    }

    .quote-container > p {
        font-size: 14px;
        line-height: 25px;
    }

    .goback {
        width: 100%;
        padding: 5px;
        text-align: center;
        justify-self: flex-end;
    }
}

/* An Even Smaller Phone */
@media screen and (max-width: 390px) {
    .sectionII_main-container {
        padding: 10px;
        /* margin-top: -5em; */
    }

    .sectionII_title {
        text-align: center;

    }

    .main_photo_mission-container {
        flex-direction: column;
        gap: 2rem;
    }

    .photo_mission-container {
        width: 100%;
        height: 25rem;
    }

    .photo_mission-container>img {
        height: 100%;
        width: 100%;
    }

    /* Know Part */

    .sub-section_testimony-know {
        flex-direction: column;
        height: 100%;
        width: 100%
    }

    .know-pic-container {
        width: 100%;
    }

    #know-word-pic {
        height: 15rem;
        width: 100%;
    }

    #know-word-pic:hover {
        transform: scale(1.1);
    }

    .testimony-know {
        margin-top: 5em;
        padding: 0;
    }

    /* Live Part */

    .sub-section_testimony-live {
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-position: top;
    }

    .live-pic-container {
        width: 80%;
        height: 80%;
        margin-left: 2rem;
    }

    #live-fam-pic {
        height: 100%;
        width: 100%;
        /* margin-left: 2rem; */
    }

    /* Love */

    .sub-section_testimony-love {
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-position: top;
    }

    .love-pic-container {
        width: 100%;
    }

    #love-yal-pic {
        height: 15rem;
    }

    .testimony-love {
        margin-top: 3em;
        padding: 0;
    }

    .quote-container {
        width: 100%;
    }
}


/* An Even, even Smaller Phone */
@media screen and (max-width: 320px) {
    .sectionII_main-container {
        padding: 10px;
    }

    .sectionII_title {
        text-align: center;
    }

    .main_photo_mission-container {
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 40rem;
    }

    .photo_mission-container {
        width: 100%;
        height: 100%;
    }

    .photo_mission-container>img {
        height: 10rem;
        width: 6.8rem;
    }

    /* Know Part */

    .sub-section_testimony-know {
        flex-direction: column;
        height: 100%;
        width: 100%
    }

    .know-pic-container {
        width: 100%;
    }

    #know-word-pic {
        height: 15rem;
        width: 100%;
    }

    #know-word-pic:hover {
        transform: scale(1.1);
    }

    .testimony-know {
        width: 100%;
        padding: 1rem;
    }

    .testimony-know>p {
        font-size: 18px;
    }

    .testimony-know {
        margin-top: 5em;
        padding: 0;
    }

    /* Live Part */

    .sub-section_testimony-live {
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-position: top;
    }

    .live-pic-container {
        width: 80%;
        height: 80%;
        margin-left: 1.2rem;
    }

    #live-fam-pic {
        height: 100%;
        width: 100%;
    }

    .testimony-live>p {
        font-size: 18px;
    }

    /* Love */

    .sub-section_testimony-love {
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-position: top;
    }

    .love-pic-container {
        width: 100%;
    }

    #love-yal-pic {
        height: 15rem;
    }

    .testimony-love {
        margin-top: 3em;
        padding: 0;
    }

    .quote-container {
        width: 100%;
    }

    .testimony-love {
        padding: 1rem;
    }

    .testimony-love>p {
        font-size: 18px;


@media screen and (max-width: 550px){
    .sub-section_testimony-live{
        width: 100%;
        height: 20%;


    }
}