#p1{
    font-size: large;
    color: rgba(0, 0, 0, 0.639);
    font-weight: 500;
    
}

#p1:hover{
    color: skyblue;
    font-weight: 600;
    transition: ease-in-out .3s;
}

#checkdialog{
    margin: 0 auto;
    margin-top: 5em;
    width: 50%;
    background-color: #2a4747e2;
    animation: fade-out 0.7s ease-out;
    border-radius: 10px;
    border: none;
    color:white
    
}

button{
    border: none;
    border-radius: 8px;
    color:white;
    background-color: black;
}

.chkdv{



}