#p1{
    font-size: large;
    color: rgba(0, 0, 0, 0.639);
    font-weight: 500;
    
}

#p1:hover{
    color: skyblue;
    font-weight: 600;
    transition: ease-in-out .3s;
}

#checkdialog{
    margin: 0 auto;
    margin-top: 5em;
    width: 30%;
    background-color: #2a4747e2;
    animation: fade-out 0.7s ease-out;
    border-radius: 10px;
    border: none;
    color:white;
    height: 20%;
    padding-top: 10px;
    padding-left: 5px;
}

button{
    border: 1px solid;
    border-radius: 8px;
    color:white;
    background-color: black;
}

.chkdv{



}


@media screen and (max-width: 550px) {
    #checkdialog{
        width: 70%;
    }

    button{
        border: 1px solid;
        border-radius: 8px;
    }
        
}