.emailJs_main-container {
    padding: 2rem;
    background-color:#2b2d42ba;;
    color: white;
    border-radius: 8px;
    border: 1px solid white;
}


.label_main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.label-container {
    padding: 2px;
}