.dialog-con {
    width: 100%;
}



.emailJs_main-container {
    padding: 2rem;
    color: white;
    border-radius: 8px;
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    width: 85%;
}

#dialog {
    margin: 0 auto;
    margin-top: 5em;
    width: 50%;
    background-color: #2a4747e2;
    animation: fade-out 0.7s ease-out;
    border-radius: 10px;
    border: none;
}

dialog[open] {
    animation: fade-in 0.7s ease-out;
}

dialog[open]::backdrop {background-color: rgba(0, 0, 0, 0.465);
    animation: backdrop-fade-in 0.7s ease-out forwards;

}

.form-container {
    display: flex;
    flex-direction: column;
}

.label_main-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}




label {
    padding: 2px;
    font-size: larger;
}

.pledge-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.make-a-pledge-btn {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    color: white;
    background-color: black;
    margin-right: 20px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.3s;   
}

.make-a-pledge-btn:hover {
    background-color: rgba(0, 0, 0, 0.82);
  
}

/* .submit-pledge-button-container{


} */
.submit-pledge {
    width: 152px;
    height: 50px;
    margin: 0 auto;
    color: white;
    background-color: black;
    margin-right: 5px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.3s;
   
}

.submit-btn:hover {
    background-color: rgba(0, 0, 0, 0.82);
}

.cancel-pledge {
    background-color: rgb(223, 15, 15);
    width: 152px;
    height: 50px;
    margin: 0 auto;
    color: white;
    margin-right: 5px;
    border: none;
    border-radius: 8px;
    /* font-size: 20px; */
    font-weight: 600;
    transition: all 0.3s;
}


.label_main-container>input {
    margin-bottom: 1rem;
    border-radius: 5px;
    /* border: none; */
}

/* .thanks{
    margin-top: 10px;
} */

.thanks-p{
    padding: 0;
    margin: 0;
   
}



/* Ipad Pro */
@media screen and (max-width: 1024px) {}

/* Ipad Mini */
@media screen and (max-width: 768px) {}

/* Phone */
@media screen and (max-width: 550px) {
    #dialog {
        width: 90%;
    }
    
    .emailJs_main-container {
        width: 100%;
    }

    .pledge-buttons {
        gap: 20px;
    }

    .cancel-pledge {
        width: 30%;
        padding: 5px;
    }

    .submit-pledge {
        width: 120%;
        padding: 5px;
    }
}

/* An Even Smaller Phone */
@media screen and (max-width: 360px) {}