.emailJs_main-container {
    padding: 2rem;
    background-color:#2b2d42ba;;
    color: white;
    border-radius: 8px;
    border: 1px solid white;
    width: 100%;
    margin-top: 2rem;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.label_main-container {
    display: flex;
    flex-direction: column;
}

.label-container {
    padding: 2px;
    margin-bottom: 1rem;
}

.submit-btn {
    color: white;
    background-color: black;
    padding: 1rem;
    text-align: center;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.632);
}

.label_main-container > input {
    margin-bottom: 1rem;
}