.header_main-container {
    padding: 2rem;
    background-color: #2F4F4F;

}

/* .header_sub-container {

} */

.header_container-elements {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 88%;
    margin: 0 auto;
}



#fcc_image {
    flex: 1;
    width: 115px;
    height: 110px;
}

.top-header {
    flex: 2;
}

.header-Image {
    text-align: center;
}
#headerImage {
    width: 175vh;
    height: 100vh;
    border-radius: 3px;
}

.title {
    color: aliceblue;
    margin-top: 1em;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
}

.buildtext {
    color: rgb(232, 227, 227);
    font-size: large;
    text-align: center;
    font-weight: 400;
    margin-bottom: 3em;
}



.header_container-elements>img {
    width: 25rem;
}


/* Ipad Pro */
@media screen and (max-width: 1024px) {}

/* Ipad Mini */
@media screen and (max-width: 768px) {}

/* Phone */
@media screen and (max-width: 550px) {
    .header_main-container {
        width: 100%;
        height: auto;
    }

    .header_sub-container {
        width: 100%;
    }

    .header_container-elements>img {
        width: 8rem;
    }

    .header_container-elements>h2 {
        font-size: 18px;
    }

    .header_container-button>h4 {
        font-size: 18px;
    }
}

/* An Even Smaller Phone */
@media screen and (max-width: 360px) {
    .header_main-container {
        width: 100%;
        height: auto;
    }

    .header_sub-container {
        width: 100%;
    }

    .header_container-elements>img {
        width: 8rem;
    }

    .header_container-elements>h2 {
        font-size: 18px;
    }

    .header_container-button>h4 {
        font-size: 18px;
    }
}