.header_main-container {
    padding: 2rem;
    background-image: url(../z_images/fcc-header-bg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height: 80rem;
}

.header_sub-container {
    width: 50%;
    background-color: white;
    margin: 0 auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 5px;
    padding: 2rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.632);
    height: 100%;
}

.header_container-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.header_container-elements>img {
    width: 25rem;
}

.header_container-elements>h2 {
    text-align: center;
    font-size: 25px;
    color: rgb(128,104,104);
}

.header_container-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.header_container-button>h4 {
    color: chocolate;
}