.header_main-container {
    padding: 2rem;
    /* background-image: url(../z_images/fcc-header-bg.jpg); */
    background-color: #2F4F4F;
    background-size:cover;
    background-repeat:no-repeat;
    height: 52rem;
}

.header_sub-container {
    width: 99%;
    
    /* background-color: rgba(255, 255, 255, 0.498); */
     background-color: rgba(228, 223, 223, 0.938); 
    margin: 0 auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: -20px;
    padding: 2rem;
    /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.632); */
    height: 50rem;
    /* backdrop-filter: blur(20px); */
    /* added opacity */
    opacity: 1;
}


.header_container-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.header_container-elements>img {
    width: 25rem;
}

.header_container-elements>h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: rgb(58, 47, 47);
}
.h4-text-building-fund{
    font-style: italic;
    font-size: xx-small 
}

.header_container-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.header_container-button>h4 {
    color: rgb(137, 68, 19);
    font-weight: 600;
    font-size: 25px;
}



/* Ipad Pro */
@media screen and (max-width: 1024px) {
    
}
/* Ipad Mini */
@media screen and (max-width: 768px) {
    
}

/* Phone */
@media screen and (max-width: 550px) {
    .header_main-container {
        width: 100%;
        height: auto;
    }

    .header_sub-container {
        width: 100%;
    }

    .header_container-elements>img{
        width: 8rem;
    }

    .header_container-elements>h2 {
        font-size: 18px;
    }

    .header_container-button>h4 {
        font-size: 18px;
    }
}

/* An Even Smaller Phone */
@media screen and (max-width: 360px) {
    .header_main-container {
        width: 100%;
        height: auto;
    }

    .header_sub-container {
        width: 100%;
    }

    .header_container-elements>img{
        width: 8rem;
    }

    .header_container-elements>h2 {
        font-size: 18px;
    }

    .header_container-button>h4 {
        font-size: 18px;
    }
}