.our_story_main-container {
    margin: 0 auto;
    /* margin-top: 10rem; */
    padding: 3rem;
    height: 85rem;
    width: 100%;
}

.our_story-container {
    text-align: center;
    margin-bottom: 2rem;
}
.our_story-container > h1 {
    font-weight: 700;
}

.our-story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}

.para-and-image {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.para-and-image > p {
    color: rgba(0, 0, 0, 0.639);
    font-weight: 500;
    font-size: 20px;
}

.img_edit {
    width: 45rem;
    height: 27rem;
    border: 20px solid lightgray;
    border-radius: 10px;
}