.sectionIV_main-container {
    background-image: url(../z_images/our-values-bg-2.jpg);
    background-repeat: no-repeat;
    background-position:center ;
    background-size: contain ;
    margin: 0 auto;
    margin-top: 10rem;
    padding: 3rem;
    height: 100vh;
    width: 80%;
}

.heading-container {
    width: 30%;
    margin: 0 auto;
}

.heading-container > h1 {
    color: white;
    text-shadow: 0 0 10px lightgray;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    border-bottom: 2px solid black;
    padding: 1rem;
}

.section-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}


.bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
.container_elements {
    background: rgba(46, 38, 38, 0.849);
    color: white;
    margin: 0 auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 5px;
    padding: 2rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.632);
    height: 40%;
    width: 29rem;
}

/* Ipad Pro */
@media screen and (max-width: 1024px) {

}
/* Ipad Mini */
@media screen and (max-width: 768px) {

}

/* Phone */
@media screen and (max-width: 550px) {
    .sectionIV_main-container {
        margin-bottom: 20rem;
    }

    .heading-container {
        width: 78%;
    }

    .heading-container > h1 {
        font-size:2rem;
        color: rgba(46, 38, 38, 0.849);
    }


    .section-container {
        flex-direction: column;
        width: 100%;
    }

    .top-container {
        width: 100%;
        gap: 5px
    }
    
    .bottom-container {
        width: 100%;
        gap: 2px
    }

    .container_elements {
        width: 15rem;
        padding: 1rem;
        background: rgba(46, 38, 38, 0.765);
    }
}

/* An Even Smaller Phone */
@media screen and (max-width: 360px) {

}