.sectionIV_main-container {
    background-image: url(../z_images/our-values-bg-2.jpg);
    background-repeat: no-repeat;
    background-position:top ;
    background-size: cover ;
    margin: 0 auto;
    margin-top: 10rem;
    padding: 3rem;
    height: 85rem;
    width: 100%;
}

.heading-container {
    width: 30%;
    margin: 0 auto;

}

.heading-container > h1 {
    color: white;
    text-shadow: 0 0 10px lightgray;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    border-bottom: 2px solid black;
    padding: 1rem;
}

.section-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    gap: 10rem;
    padding-top: 15rem;
}

.top-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 5rem;
}


.bottom-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 5rem;
}
.container_elements {
    background: linear-gradient(180deg, rgba(0, 107, 160, 0.297) 0%, rgba(0, 48, 110, 0.32) 100%);
    color: white;
    margin: 0 auto;
    /* border: 1px solid lightgray; */
    border-radius: 10px;
    margin-top: 5px;
    padding: 2rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.632);
    height: 15rem;
    width: 29rem;
}

.container_elements > h2 {
    text-align: center
}

/* Ipad Pro */
@media screen and (max-width: 1024px) {

}
/* Ipad Mini */
@media screen and (max-width: 768px) {

}

/* Phone */
@media screen and (max-width: 550px) {
    .sectionIV_main-container {
        margin-bottom: 20rem;
        height: 75rem;
        padding: 1rem;
    }

    .heading-container {
        width: 78%;
    }

    .heading-container > h1 {
        font-size:2rem;
    }


    .section-container {
        flex-direction: none;
        width: 100%;
        padding-top: 10rem;
    
        
    }

    .top-container {
        width: 100%;
    }
    
    .bottom-container {
        width: 100%;
    }

    .container_elements {
        width: 15rem;
        padding: 8px;
        background: linear-gradient(180deg, rgba(0, 107, 160, 0.297) 0%, rgba(0, 48, 110, 0.32) 100%);
    }
}

/* An Even Smaller Phone */
@media screen and (max-width: 320px) {
    .sectionIV_main-container {
        margin-bottom: 20rem;
        height: 75rem;
        padding: 0.2rem;
    }

    .heading-container {
        width: 78%;
    }

    .heading-container > h1 {
        font-size:2rem;
    }


    .section-container {
        flex-direction: none;
        width: 100%;
        padding-top: 10rem;
    }

    .top-container {
        width: 100%;
        gap: 2rem;
    }
    
    .bottom-container {
        width: 100%;
        gap: 2rem;
    }

    .container_elements {
        width: 10rem;
        padding: 2px;
        height: 10rem;

        background: linear-gradient(180deg, rgba(0, 107, 160, 0.297) 0%, rgba(0, 48, 110, 0.32) 100%);
    }

    .container_elements > h2 {
        font-size: 16px;
    }
    .container_elements >ul, li {
        font-size: 12px;
    }
}