.sectionIV_main-container {
    margin: 0 auto;
    padding: 3rem;
    height: 100%;
    width: 100%;
}

.heading-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
}

.heading-container > h1 {
    font-weight: 700;
}

.image-and-p-main-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25em;
    gap: 3em;
    opacity: 0;
}

.fade-in {
    opacity: 1;
    transition: 1.5s ease;
}

.image-and-p-container {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    transition: opacity 1.5s ease;
}


.image-and-p-container:hover {
    transform: scale(1.02);
    border: 1px solid skyblue;
    border-radius: 6px;
    transition: opacity 1.5s ease;
}

.image-container {
    height: 100%;
    width: 98.9%;
    border-radius: 15px;
}

.image-container > img {
    border-radius: 10px;
}

.p-container {
    height: 25rem;
}


.p-container > p {
    font-size: large;
    color: rgba(0, 0, 0, 0.639);
    font-weight: 500;
}

.p-container > h2 {
    
    font-weight: 600;
}

.p-container {
    height: 50%;
    width: 100%;
}

.img-edit {
    height: 15.5rem;
    width: 19.9rem;
}

#center-image-edit {
    height: 15.5rem;
    width: 19.9rem;
    margin-top: 24px;
}


/* Ipad Pro */
@media screen and (max-width: 1024px) {

}
/* Ipad Mini */
@media screen and (max-width: 768px) {

}

/* Phone */
@media screen and (max-width: 550px) {
    .sectionIV_main-container {
        margin-bottom: 20rem;
        height: 75rem;
        padding: 1rem;
    }

    .heading-container {
        width: 78%;
    }

    .heading-container > h1 {
        font-size:2rem;
    }

    .image-and-p-main-container {
        flex-direction: column;
        margin-top: 30em
    }

    .p-container {
        text-align: center;
    }
}

/* An Even Smaller Phone */
@media screen and (max-width: 320px) {
    .sectionIV_main-container {
        margin-bottom: 20rem;
        height: 75rem;
        padding: 1rem;
    }

    .heading-container {
        width: 78%;
    }

    .heading-container > h1 {
        font-size:2rem;
    }

    .image-and-p-main-container {
        flex-direction: column;
        margin-top: 30em
    }

}