.z_footer_main-container {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    height: 3rem;
    width: 100%;
    background-color: #2F4F4F;
    border-radius: 15px 15px 0px 0px;
    margin: 0 auto;

}

.z_footer-container {
    text-align: center;
    padding: 5px;
}

.z_footer-container>p {
    color: white;
    /* text-shadow: 0 0 10px rgb(128,104,104); */
    font-weight: 500;
    font-size: 0.9rem;
    height: 1rem;
    text-align: center;
    margin-top: 5px;

}

/* Ipad Pro */
@media screen and (max-width: 1024px) {
    .z_footer_main-container {

        margin-top: 99rem;
    }

}

/* Ipad Mini */
@media screen and (max-width: 768px) {
    .z_footer_main-container {

        margin-top: 110em;
    }

}

/* Phone */
@media screen and (max-width: 550px) {
    .z_footer_main-container {

        margin-top: 110em;
    }

    .z_footer-container>p {
        /* text-align: left; */
        color: white;
        /* text-shadow: 0 0 10px rgb(128,104,104); */
        font-weight: 500;
        font-size: 0.8rem;
        height: 0.9rem;

        /* padding-top: 2rem; */
    }
}

/* An Even Smaller Phone */
@media screen and (max-width: 360px) {
    .z_footer_main-container {
        margin-top: 99em;

    }

}

@media screen and (max-width: 375px) {
    .z_footer_main-container {


    }

    .z_footer-container>p {
        /* text-align: left; */
        color: white;
        /* text-shadow: 0 0 10px rgb(128,104,104); */
        font-weight: 500;
        font-size: 0.7rem;

        text-align: center;
        margin-top: 5px;

        /* padding-top: 2rem; */
    }

}