.sectionI_main-container {
    padding: 2rem;
    margin-top: 5rem;
    /* background: linear-gradient(180deg, rgba(0, 107, 160, 1) 0%, rgba(0, 48, 110, 1) 100%); */
    height: 43rem;
}


.animateContainer {
    background-color: aquamarine;
}



.sectionI-container {
    width: 100%;
    height: 710px;
    background-color: white;
    margin-top: -100px;
    margin-left: -9px;
   
    /* border-radius: 10px; */
    /* margin-top: 5px; */
    padding: 4rem;
    /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.632); */
    /* height: 100%; */
    text-align: center;
}

.sectionI_heading {
    border-bottom: 1px solid black;
    width: 40%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.sectionI_heading > h1 {
    font-weight: 500;
}

.sectionI_heading-II {
    padding: 15px;
    color: rgb(128,104,104);
    /* text-transform: ; */
}

.sectionI_heading-II > h3 {
    line-height: 3rem;
}
.both_headings{
    margin-top: -70px;
}
.sectionI_heading-III {
    margin: 0 auto;
    margin-left: 78px;
    width: 70%;
}

.sectionI_heading-III > h4 {
    line-height: 35px;
    font-size: 20px;
    font-style: italic;
    justify-content: center;
   
}


/* Ipad Pro */
@media screen and (max-width: 1024px) {

}
/* Ipad Mini */
@media screen and (max-width: 768px) {

}

/* Phone */
@media screen and (max-width: 550px) {
    .sectionI_main-container {
        margin-bottom: 10rem;
    }
    
    .sectionI-container {
        width: 100%;
    }

    .sectionI_heading {
        width: 55%;
    }

    .sectionI_heading-II > h3 {
        font-size: 18px;
        line-height: 2rem;
    }

    .sectionI_heading-III {
        width: 100%;
    }

    .sectionI_heading-III > h4 {
        font-size: 16px;
        line-height: 25px;
    }
}

/* An Even Smaller Phone */
@media screen and (max-width: 395px) {
    .sectionI_main-container {
        margin-bottom: 22rem;
    }
    
    .sectionI-container {
        width: 100%;
        height: auto;
    }

    .sectionI_heading {
        width: 60%;
    }

    .sectionI_heading-II > h3 {
        font-size: 16px;
        line-height: 2rem;
    }

    .sectionI_heading-III {
        width: 100%;
    }

    .sectionI_heading-III > h4 {
        font-size: 16px;
        line-height: 25px;
    }

}

/* An Even, even Smaller Phone */
@media screen and (max-width: 320px) {
    .sectionI_main-container {
        /* margin-bottom: 30rem; */
    }
    
    .sectionI-container {
        width: 100%;
        height: auto;
    }

    .sectionI_heading {
        width: 90%;
    }

    .sectionI_heading-II > h3 {
        font-size: 14px;
        line-height: 1.5rem;
    }

    .sectionI_heading-III {
        width: 100%;
    }

    .sectionI_heading-III > h4 {
        font-size: 14px;
        line-height: 25px;
    }

}