.sectionI_main-container {
    padding: 2rem;
    background: linear-gradient(180deg, rgba(0, 107, 160, 1) 0%, rgba(0, 48, 110, 1) 100%);
    height: 43rem;
}

.sectionI-container {
    width: 50%;
    background-color: white;
    margin: 0 auto;
    border: 1px solid lightgray;
    /* box-shadow: 1px 1px lightgray; */
    border-radius: 10px;
    margin-top: 5px;
    padding: 6rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.632);
    height: 100%;
    text-align: center;
}

.sectionI_heading {
    border-bottom: 1px solid black;
    width: 30%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.sectionI_heading > h1 {
    font-weight: 500;
}

.sectionI_heading-II {
    padding: 15px;
    color: rgb(128,104,104);
}

.sectionI_heading-III {
    margin: 0 auto;
    width: 70%;
}

.sectionI_heading-III > h4 {
    line-height: 35px;
    font-size: 20px;
    font-style: italic;
}